.timeline_section {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    .timelineLeft {
      .allTopics {
        .card {
          border-radius: 8px;
          background: white;
          box-shadow: 3px 3px 12px rgba(10, 35, 83, 0.08);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 16px;
          font-family: "ProximaNova-Regular";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #696f77;
          .togglers {
            button {
              background-color: unset !important;
              background: unset !important;
              border: unset;
              padding: unset;
              display: flex;
              justify-content: space-between;
              align-items: center;
              &:not(:last-of-type) {
                margin-bottom: 26px;
              }
              .grouped {
                display: flex;
                align-items: center;
              }
            }
          }
          .choiceDescription {
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 400;
            color: #696F77;
            margin-left: 10px;
          }
        }
      }
    }
  }
  