.last_active_users {
  .heading_section {
    display: flex;
    justify-content: space-between;
    font-family: "ProximaNova-Regular";
    .heading {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      font-style: normal;
    }
    .subheading {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #94989e;
      font-style: normal;
    }
  }
  .last_active_user_table {
    height: 457px;
    // border-radius: 10px;
    // background-color: white;
  }
}
