.topic_updates_section {
  margin-top: 24px;
  .heading_section {
    display: flex;
    justify-content: space-between;
    font-family: "ProximaNova-Regular";
    .heading {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      font-style: normal;
    }
    .subheading {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #94989e;
      font-style: normal;
    }
  }
  .mobilecardsSection {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-between;
    width: 100%;
  }
}
