.TopicCommentView {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
  .Comment {
    display: flex;
    align-items: flex-start;
    width: 100%;
    .profileImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      img {
        object-fit: cover;
        width: inherit;
        height: inherit;
        border-radius: 50%;
      }
    }
    .commentDetail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 16px;
      margin-top: 6px;
      .headerInfo {
        display: flex;
        align-items: center;
        .userName {
          font-weight: 600;
          font-size: 16px;
          color: #151e29;
          margin-right: 16px;
        }
        .timeStamp {
          color: #696f77;
          font-weight: 400;
          font-size: 12px;
        }
      }
      .commentDescription {
        color: #3d4651;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        word-break: break-word;
      }
      .commentActions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        overflow: inherit;
        flex-wrap: nowrap;
        flex-direction: row;
        cursor: pointer;
        .action {
          margin-right: 31px;
          .icon {
            width: 12px;
            height: 12px;
            margin-right: 6px;
          }
          .actionDescription {
            color: #696f77 !important;
            font-weight: 600;
            font-size: 12px;
          }
        }
        .action-highlighted {
          margin-right: 31px;
          .icon {
            width: 12px;
            height: 12px;
            margin-right: 6px;
          }
          .actionDescription {
            color: #661bc0 !important;
            font-weight: 600;
            font-size: 12px;
          }
        }
      }
      .replyIconElement {
        cursor: pointer;
      }
    }
  }
}
