.mobileForumSection {
  .forumHeader {
    display: flex;
    justify-content: space-between;
    height: 47px;
    .AddTopicsbtn {
      width: unset;
      text-align: center;
      min-width: unset;
      padding: 4px 12px;
      .btn-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .ForumSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
