@import "@src/styles/shared/_variables.scss";

.topicCommentSection {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;

  .commentActions {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: "2px 0px";
    .profileImage {
      width: 40px;
      height: 100%;
      border-radius: 50%;
      img {
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }

    .commentInput {
      width: 80%;
      font-family: unset !important;
      border: 2px solid #773cbd;
      border-radius: 5px;
      caret-color: #773cbd;
      margin-left: 12px;
      margin-right: auto;
      padding: 5px 12px 3px;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }

    .postBtn {
      display: flex;
      margin-left: 5px;
      justify-content: center;
      align-items: center;
      background: #efe1ff;
      border-radius: 6px;
      overflow: hidden;
      padding: unset;
      line-height: 1;
      padding: 14px 7px;
      font-weight: 600;
      color: #773cbd;
      text-transform: unset;
      font-family: unset;
    }

    @media only screen and (min-device-width: 0px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .postBtn {
        display: none;
      }

      .commentInput {
        width: 100%;
      }
    }
  }
}
