*.swp
venv*
__pycache__
*.pyc
db.sqlite3
.env*
.idea/
media/
node_modules/
frontend/dist/
requests/dist/
.coverage
.DS_Store
Pipfile
Pipfile.lock
nginx/vfse.626.healthcare/cert.pem
nginx/vfse.626.healthcare/key.pem
nginx/vfse.626.healthcare/password.list
webpack-stats.json
