version: "3.4"

services:
  db:
    extends:
      file: docker-compose.base.yml
      service: db
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    extends:
      file: docker-compose.base.yml
      service: prod_app
    volumes:
        - static_volume:/opt/code/static
        - shm:/dev/shm
    depends_on:
      - db

  nginx:
    build:
      context: ./nginx
      dockerfile: staging.Dockerfile
    restart: always
    ports:
      - 8001:80
    volumes:
      - static_volume:/opt/code/static
      - shm:/dev/shm
    depends_on:
      - ssh

  ping:
    extends:
      file: docker-compose.base.yml
      service: ping

  cron:
    extends:
      file: docker-compose.base.yml
      service: cron
    depends_on:
      - app

  ssh:
    extends:
      file: docker-compose.base.yml
      service: ssh
    volumes:
      - static_volume:/opt/code/static
      - shm:/dev/shm
    depends_on:
      - app
    expose:
      - 8888

  guacd:
    image: guacamole/guacd

  guac_proxy:
    image: vfse_app
    env_file:
      - ./docker/env.db
      - ./.env
    container_name: guac_proxy
    depends_on:
      - app
      - guacd
    command: "uvicorn proxy.guac:app --host 0.0.0.0"

volumes:
  static_volume:
  shm:
  pgdata:
