SECRET_KEY="django-insecure-s(0^q027a!cw+i@6q(4e_20h-cbg&2i3)4ms3oufo+w4s^dk%s"
DEBUG=False
NPLUSONE_RAISE=False
EMAIL_BACKEND="emailbackend.backend.DatabaseBackend"
DUO_CLIENT_ID="fake"
DUO_CLIENT_SECRET="fake"
DUO_API_HOSTNAME="fake"
