SECRET_KEY="django-insecure-s(0^q027a!cw+i@6q(4e_20h-cbg&2i3)4ms3oufo+w4s^dk%s"
DEBUG=False
NPLUSONE_RAISE=False
EMAIL_BACKEND="emailbackend.backend.DatabaseBackend"
DUO_CLIENT_ID="fake"
DUO_CLIENT_SECRET="fake"
DUO_API_HOSTNAME="fake"
DUO_REDIRECT_URI="http://localhost:8000/accounts/duo/login/"
WEBSSH_AUTH_TOKEN=8789ca15b6cd24c8542908ebe87d72bc202b0b79
WEBSSH_SERVICE=localhost:8000
AWS_STORAGE_BUCKET_NAME="vfse-staging"
AWS_ACCESS_KEY_ID="AKIAUIJ6MUSTHFCSHH45"
AWS_SECRET_ACCESS_KEY="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"
AWS_DEFAULT_REGION="myregion"
