SECRET_KEY="django-insecure-s(0^q027a!cw+i@6q(4e_20h-cbg&2i3)4ms3oufo+w4s^dk%s"
DEBUG=False
NPLUSONE_RAISE=False
EMAIL_BACKEND="emailbackend.backend.DatabaseBackend"
DUO_CLIENT_ID="fake"
DUO_CLIENT_SECRET="fake"
DUO_API_HOSTNAME="fake"
DUO_REDIRECT_URI="http://localhost:8000/accounts/duo/login/"

WEBSSH_SERVER="http://localhost:8888/"
WEBSSH_WS_SERVER="wss://localhost:8888/"
WEBSSH_CORS="http://localhost:8000"
WEBSSH_BACKEND_AUTH_TOKEN=fake
WEBSSH_BACKEND=app:8000

DEFAULT_FROM_EMAIL=defaultemail
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.sendgrid.net"
EMAIL_HOST_USER="apikey"  # this is exactly the value 'apikey'
EMAIL_HOST_PASSWORD=SENDGRID_API_KEY
EMAIL_PORT=587
EMAIL_USE_TLS=True

AWS_STORAGE_BUCKET_NAME="vfse-staging"
AWS_ACCESS_KEY_ID="AKIAUIJ6MUSTHFCSHH45"
AWS_SECRET_ACCESS_KEY="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"
AWS_DEFAULT_REGION="myregion"

DOMAIN_NAME=http://localhost:8000
REQUEST_TOKEN="4ff01a5baba66eca26c830f6f393fc37d8243fc0"

INFLUX_TOKEN="fake"
INFLUX_ORG="fake"
INFLUX_BUCKET="fake"
INFLUX_DB_URL="fake"

INFLUX_GPS_TOKEN="fake"
INFLUX_GPS_BUCKET="fake"

AUTHENTICATION_CLASSES="rest_framework.authentication.SessionAuthentication"

CORS_ALLOWED_ORIGINS="http://localhost:3000"

# For connecting local frontend to staging
#API_SERVER="https://vfse.prixite.com/api/"
#PUBLIC_PATH="/"
#AUTH_TOKEN="fake" # Copy from staging
#WEBSSH_SERVER="https://vfse.prixite.com/webssh/"
#WEBSSH_WS_SERVER="wss://vfse.prixite.com/webssh/"

WEBSOCKIFY_WS="ws://localhost:8001/sockify/"
HTML_PROXY_DOMAIN="localhost:8002"

GUACD_HOST="IP"
GUACD_PORT="Port"
GUACD_PROXY_WS="ws-url"
