boto3==1.26.161
coverage==7.2.7
dj-database-url==2.0.0
Django==4.2.2
django-cors-headers==4.1.0
django-environ==0.10.0
django-extensions==3.2.3
django-filter==23.2
django-webpack-loader==2.0.1
djangorestframework==3.14.0
djangorestframework-link-header-pagination==0.1.1
drf-yasg==1.21.6
duo-universal==2.0.3
factory-boy==3.2.1
fastapi==0.97.0
gunicorn==20.1.0
httpx==0.24.1
icmplib==3.0.3
influxdb-client==1.36.1
openai==0.27.8
Pillow==9.5.0
python-multipart==0.0.6
uvicorn==0.22.0
websockets==11.0.3
