.brand-color {
  color: #773cbe !important;
}

.brand-background-color {
  background-color: #773cbe !important;
}

.brand-border-color {
  background-color: #773cbe !important;
}

form button {
  background-color: #773cbe !important;
  border-color: #773cbe !important;
}

form input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

form input.is-invalid,
form input:focus.is-invalid {
  color: #ff2517;
  background-color: rgba(255, 23, 23, 0.05);
  border-color: 1px solid rgba(255, 37, 23, 1);
}

.half-image div.content {
  margin-top: 18%;
}

.first-half div.content-wrapper {
  padding-left: 100px;
  padding-top: 20px;
  height: 100vh;
}

.first-half img.logo {
  width: 80px;
}

.second-half {
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.welcome .card .card-body {
  display: flex;
}

.welcome .card .card-body div.item-col {
  padding: 6px;
}

.welcome .card {
  margin-top: 20px;
}

.login-page form,
.reset-password-page form,
.password-reset-confirm form,
.reset-password-page p,
.reset-done-page p {
  width: 400px;
}

.login-page h2,
.password-reset-confirm h2,
.reset-password-page h2,
.reset-done-page h2 {
  font-weight: 800;
}

.reset-password-page .back-btn,
.reset-done-page .back-btn {
  color: black;
}

.reset-password-page .back-btn i,
.reset-done-page .back-btn i {
  font-size: 20px;
}
