@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/static/assets/fonts/proximaNova-Regular.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Thin";
  src: url("/static/assets/fonts/ProximaNova-Thin.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova-Extrabold";
  src: url("/static/assets/fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/static/assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Black";
  src: url("/static/assets/fonts/ProximaNova-Black.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-AltThin";
  src: url("/static/assets/fonts/ProximaNova-AltThin.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-AltLight";
  src: url("/static/assets/fonts/ProximaNova-AltLight.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-AltBold";
  src: url("/static/assets/fonts/ProximaNova-AltBold.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}

* {
  font-family: "ProximaNova-Regular", sans-serif;
}

.label {
  font-weight: 600;
}

.input-placeholder {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: #d4d6db;
  border: 1px solid #d4d6db;
  border-radius: 8px;
}

.input-placeholder::placeholder {
  opacity: 0.7;
}

.input-placeholder:focus,
.email-input:focus {
  border: 2px solid #773cbe;
}

.input-placeholder:not(:placeholder-shown) {
  color: black;
  background-color: rgb(232, 240, 254);
}

.input-placeholder:focus:not(:placeholder-shown) {
  color: black;
  background-color: rgb(232, 240, 254);
}

.toggle-password {
  border: 1px solid #d4d6db;
}

.toggle-password:focus {
  border: 2px solid #773cbe;
  box-shadow: none !important;
}

.brand-color {
  color: #773cbe !important;
  margin-left: 3px;
}

.brand-background-color {
  background-color: #773cbe !important;
}

.brand-border-color {
  background-color: #773cbe !important;
}

form button {
  background-color: #773cbe !important;
  border-color: #773cbe !important;
  color: #efe1ff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 12px 20px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

form input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  color: #ff2517 !important;
  background-color: rgba(255, 23, 23, 0.05) !important;
  border: 2px solid rgb(255, 37, 23, 1) !important;
  background-image: unset;
}

.half-image div.content {
  margin-top: 10%;
}

.first-half {
  display: flex;
  justify-content: center;
}

.first-half div.content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.first-half img.logo {
  width: 80px;
}

.second-half {
  height: 100vh;
  padding: 0;
}

.second-half img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  width: 50%;
  top: 0;
  bottom: 0;
  right: 0;
}

.welcome-page .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.welcome-page .card .card-body div.item-col img {
  width: 50px;
  height: 50px;
}

.welcome-page .card .card-body div.item-col .alt-text {
  font-size: xx-large;
  letter-spacing: -3px;
  font-weight: bold;
  line-height: normal;
}

.welcome-page .card {
  margin-top: 20px;
}

.welcome-page a.btn {
  width: 220px;
  padding: 0.375rem 0.2rem;
}

@media only screen and (max-width: 480px) {
  .login-page form,
  .reset-password-page form,
  .password-reset-confirm form,
  .reset-password-page p,
  .reset-done-page p,
  .alert {
    width: 100%;
  }
  .second-half {
    display: none;
  }
  .half-image div.content {
    margin-top: 18%;
  }
}

.login-page h2,
.welcome-page h2,
.password-reset-confirm h2,
.reset-password-page h2,
.reset-done-page h2 {
  font-weight: 800;
}

.reset-password-page .back-btn,
.reset-done-page .back-btn {
  color: black;
}

.reset-password-page .back-btn i,
.reset-done-page .back-btn i {
  font-size: 20px;
}

.alert-danger {
  color: #ff2517;
  background-color: 1px solid rgba(255, 37, 23, 1);
  border: none;
}

.alert-danger span {
  font-size: 20px;
}

.password-reset-confirm span {
  font-size: 16px;
}
.col {
  padding: 6px;
}

@media only screen and (max-width: 1000px) {
  .card-body {
    display: block !important;
  }
  .first-half div.content-wrapper {
    display: block !important;
    width: 100%;
  }
  .welcome-page {
    padding-left: 0;
  }
  .welcome-page a.btn {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .content-wrapper {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .content-wrapper {
    width: 75%;
  }
}
