.Article-card {
  position: relative;
  .card {
    height: 168px;
    border-radius: 8px;
    position: relative;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background: white;
    box-shadow: 3px 3px 12px rgba(10, 35, 83, 0.08);
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .general-info {
      display: flex;
      flex-direction: column;
      .folderIcon-Grid {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .folderSvg {
          font-size: 2.2rem;
          height: inherit;
          width: inherit;
        }
      }
      .heading {
        margin-top: 14px;
        .title {
          font-family: "ProximaNova-Regular";
          font-size: 20px;
          font-weight: 600;
          font-size: 20px;
          color: black !important;
          line-height: 24px;
        }
      }
    }
    .article-no {
      display: flex;
      flex-direction: row;
      font-family: "ProximaNova-Regular";
      color: #696f77;
      align-items: center;
      margin: 16px 0;
      font-size: 16px;
    }
    .article-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .info {
        font-family: "ProximaNova-Regular";
        font-size: 16px;
        color: #696f77;
        width: 250px;
      }
      .explore {
        display: flex;
        flex-direction: row;
        .text {
          margin-right: 7px;
          font-family: "ProximaNova-Regular";
          font-size: 16px;
          color: #773cbd;
          font-weight: 600;
        }
        &:hover {
          transform: translateX(3%);
        }
      }
    }
  }
  .dropdown {
    cursor: pointer;
    color: #6b7280;
  }
  .dropdownIcon {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}
.dropdownMenu {
  .MuiPaper-elevation {
    transform: translate(-12px, 10px) !important;
  }
  ul {
    padding: 12px;
    margin-top: 5px;

    li {
      font-weight: 400;
      font-size: 16px;
      color: #111827;
      padding: 4px;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .Article-card {
    margin-top: 0;
    .card {
      margin-right: 0;
      height: 112px;
      margin-bottom: 10px;
      .general-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        .heading {
          margin-top: 0;
          margin-left: 16px;
        }
      }
    }
  }
}
