.Article-card {
  .card {
    height: 168px;
    border-radius: 8px;
    position: relative;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background: white;
    box-shadow: 3px 3px 12px rgba(10, 35, 83, 0.08);
    margin-right: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .article-no {
      display: flex;
      flex-direction: row;
      font-family: "ProximaNova-Regular";
      color: #696f77;
      align-items: center;
      margin: 16px 0;
      font-size: 16px;
    }
    .heading {
      margin-top: 14px;
      .title {
        font-family: "ProximaNova-Regular";
        font-size: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      }
    }
    .article-info
    {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    .info {
      font-family: "ProximaNova-Regular";
      font-size: 16px;
      color: #696f77;
      width: 250px;
    }
    .explore {
      display: flex;
      flex-direction: row;
      .text {
        margin-right: 7px;
        font-family: "ProximaNova-Regular";
        font-size: 16px;
        color: #773cbd;
        font-weight: 600;
      }
    }
  }
}
}
