.topic-modal {
  .MuiDialog-paper {
    width: 983px;
    max-width: 983px;
    height: 100vh;
    .MuiDialogContent-root {
      padding: 20px 22px;
    }
  }
  .errorText {
    color: #ff1744;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  .MuiOutlinedInput-input {
    height: 1.8em;
  }
  .MuiDialogTitle-root {
    border-bottom: 1px solid #d9dbdd;
    .title-section {
      .modal-header {
        font-weight: 600;
      }
      .dialog-page {
        font-size: 16px;
        .pg-number {
          padding: 7px 30px;
        }
        .cross-btn {
          width: 15px;
          height: 15px;
          margin-left: 12px;
          margin-top: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .title-cross {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    .required {
      &:after {
        content: " *";
        color: red;
      }
    }
    .dropzone-title {
      font-weight: 600;
      margin-bottom: 8px;
    }
    .article-info {
      width: 100%;
      .add-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-top: 30px;
        .add-btn {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #773cbd;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .text {
          margin-left: 20px;
          font-size: 16px;
          color: #773cbd;
        }
      }
      .info-section {
        .copy-btn {
          width: 96px;
          background: #d9dbdd;
          border-radius: 6px;
          height: 32px;
          font-size: 13px;
          color: black;
          margin-right: -4px;
          text-transform: capitalize;
        }
        .info-label {
          font-weight: 600;
          margin-bottom: 6px;
        }
        .info-field {
          width: 100%;
          height: 100%;
          .MuiOutlinedInput-notchedOutline {
            border: 1px solid #d4d6db;
            border-radius: 8px;
          }
          input {
            border-radius: 8px;
          }
        }
        .rdw-editor-main {
          border: 1px solid #d4d6db;
          height: 40vh;
        }
      }
    }
  }
  .MuiDialogActions-root {
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 12px;
    padding: 8px 13px 8px 14px;
    .cancel-btn {
      background: #efe1ff;
      color: #773cbd;
      width: 47%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      text-transform: capitalize;
      &:hover {
        background: #efe1ff;
        color: #773cbd;
      }
    }
    .add-btn {
      color: #fff;
      background: #773cbd;
      width: 47%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      margin-left: 21px !important;
      text-transform: capitalize;
      &:hover {
        color: #fff;
        background: #773cbd;
      }
    }
  }
  .toggle-btn {
    min-width: 65px;
    height: 28px;
    margin-right: 12px !important;
    border: 1px solid #d4d6db !important;
    border-radius: 8px !important;
    margin-bottom: 18px;
    padding: 8px 24px;
  }
}

.my-checkbox-wrapper .MuiCheckbox-colorPrimary {
  color: "green" !important;
}

@media only screen and (max-width: 480px) {
  .topic-modal {
    .MuiDialog-paper {
      width: 100%;
      margin: 5px;
    }
    .css-d3d7qy-MuiFormControl-root {
      min-width: unset;
      width: 100%;
    }
    .modal-content {
      .divided-div {
        flex-direction: column;
        .info-field {
          width: 100%;
        }
      }
    }

    .MuiDialogTitle-root {
      .title-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .modal-header {
          font-weight: 600;
          width: 35%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .dialog-page {
          font-size: 16px;
          display: flex;
          align-items: center;
          .pg-number {
            padding: 0px;
          }
        }
      }
    }
  }
}
