@import "@src/styles/shared/_variables.scss";

.Layout {
  display: flex;
}
@media only screen and (min-width: $ipad) and (max-width: $ipad-pro) {
  .Layout {
    .main-content {
      height: 100vh;
      margin-left: 80px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .Layout {
    .main-content {
      margin-bottom: 110px;
    }
  }
}
