.folder-heading {
  padding-left: 30px;
  .main-heading {
    font-family: "ProximaNova-Extrabold";
    font-size: 28px;
    margin-top: 30px;
  }
  .back-btn {
    display: flex;
    flex-direction: row;
    .back-text {
      font-family: "ProximaNova-Regular";
      font-size: 16px;
      color: black;
      font-weight: 600;
      margin-left: 10px;
    }
  }
}
