.SystemCardMobile {
  padding: 16px;
  box-shadow: 0px 0.849607px 1.69921px rgba(0, 0, 0, 0.05) !important;
  border-radius: 4px !important;
  .css-pwcg7p-MuiCollapse-root {
    border-top: 1px solid #d4d6db;
  }
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  &__summary {
    padding: 0px !important;
    .css-o4b71y-MuiAccordionSummary-content {
      margin: 0px;
    }

    .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
      margin: 0px;
    }

    .header {
      display: flex;
      align-items: center;
      .thumbnail {
        width: 120px;
        height: 70px;
        .image {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .title {
        margin-left: 10px;
        font-weight: 600;
        font-size: 18px;
      }
      @media (min-width: 0px) and (max-width: 301px) {
        .title {
          margin-left: 0px;
          font-size: 16px !important;
        }
      }
    }
  }
  &__details {
    padding: 0px !important;
    padding-top: 24px !important;
    .featureSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      .option {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        .title {
          font-weight: 600;
          font-size: 18px;
          color: #94989e;
        }
        .value {
          font-weight: 600;
          color: #151e29;
          font-size: 18px;
        }
      }
      .copy-field {
        width: 100%;
        padding: 0 !important;
        margin-bottom: 24px;
        .css-6d3nb4-MuiInputBase-root-MuiOutlinedInput-root {
          padding-right: 0;
        }
        input {
          padding: 0 !important;
          height: 40px;
          color: #6b7280;
        }
        .copy-btn {
          width: 96px;
          background: #d9dbdd;
          border-radius: 6px;
          height: 32px;
          font-size: 13px;
          color: black;
          margin-right: -4px;
          text-transform: capitalize;
        }
      }
    }
    .infoSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-top: 1px solid #d4d6db;
      padding-top: 24px;
      flex-flow: row wrap;
      .option {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        .title {
          font-weight: 600;
          font-size: 18px;
          color: #94989e;
        }
        .value {
          font-weight: 600;
          color: #151e29;
          font-size: 18px;
        }
      }
    }
    .actionSection {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #d4d6db;
      padding-top: 24px;
      .connect-btn {
        width: 45%;
        font-weight: 600;
        p {
          margin-top: 2px;
        }
      }
      .link-btn {
        width: 45%;
        font-weight: 600;
        color: #696f77;
        border: 1px solid black;
        box-shadow: none;
        height: max-content;
        padding: 6px 12px;
        .btn-content {
          display: flex;
          align-items: center;
          span {
            margin-top: 2px;
          }
        }
      }
    }
  }
}
