{% extends "half_image_base.html" %}
{% load static %}
{% block content %}

<div class="login-page">
  <h2>Login</h2>

  <p>To sign in enter your details below</p>

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="id_username" class="form-label label">User Email</label>
      <input type="text"
      class="form-control form-control-lg input-placeholder"
      placeholder="Enter your email" name="username"
      autocapitalize="none"
      autocomplete="Username"
      maxlength="150"
      id="id_username" required autofocus
      >

      {{ form.username.errors }}
    </div>

<div class="mb-3">
  <label for="id_password" class="form-label label">Password</label>
  <div class="input-group mb-3">
    <input type="password"
           class="form-control form-control-lg input-placeholder"
           placeholder="Enter your password"
           aria-describedby="basic-addon1"
           name="password"
           autocomplete="current-password"
           id="id_password" required />

    <a class="btn btn-outline-secondary toggle-password" id="password" onclick="showHidePassword('id_password')" href="#" role="button">
      <i class="fas fa-eye"></i>
    </a>
  </div>
  {{ form.password.errors }}
</div>

    {% if form.errors %}
    {% include 'core/_error.html' with form=form%}
    {%endif%}
    <p><a class='brand-color' href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <div class="d-grid"><button type="submit" class="btn btn-primary btn-lg mb-3">Login</button></div>
    <p class="mb-3">Don't have an account?<a class="brand-color" href="{% url 'request' %}"> Register Now</a></p>

  </form>
</div>
{% endblock content %}
