{% extends "server_base.html" %}
{% block content %}
<div class="row">
    <div class="d-flex justify-content-center h-100 col-sm-6">
        <div class="card" style="border-color: transparent;">
            <div class="container">
                <a style="color: black;" href="{% url 'login' %}">
                    <i style="font-size: 20px;" class="fas fa-arrow-left"> Back</i>
                </a>
                <br/>
                <br/>
                <h3 style="font-weight: 800;">Check your </h3>
                <h3 style="font-weight: 800;">email</h3>
            </div>
            <div class="container">
                
                <span style="font-weight: normal;">
                    Please check your email and follow the instructions to reset a password.
                </span>
                <br />
                <br />
                <span>
                    If the email doesn't show up soon, check your spam folder.
                </span>
            </div>

        </div>
    </div>
    <div class="col-sm-6" style="overflow: hidden; display: flex;justify-content:end; object-fit: cover;">
        <img src='/static/assets/loginImage.svg' style="object-fit: contain;" />
    </div>
</div>
{% endblock content %}