{% extends "half_image_base.html" %}
{% load static %}
{% block content %}

<a style="color: black;" href="{% url 'login' %}">
  <i style="font-size: 20px;" class="fas fa-arrow-left"> Back</i>
</a>

<h2 class='mt-5'>Request a link</h2>

<div class="reset-password-page">
  <p>Please enter your email below and we will send you a password reset link</p>

  <form method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="Username" class='form-label'><b>Email</b></label>
      <input type="text"
             class="form-control form-control-lg"
             placeholder="Type your Email"
             name="email" autofocus
             autocapitalize="none"
             autocomplete="email"
             maxlength="254"
             required
             id="id_email">
      {{ form.email.errors }}
    </div>

    {{ form.errors }}

    <div class="d-grid"><button type="submit" class="btn btn-primary btn-lg mb-3">Reset</button></div>

  </form>
</div>
{% endblock content %}
