{% extends "half_image_base.html" %}
{% load static %}

{% block content %}

<div class="login-page">
  <h2>Success!</h2>

	<p>The password is updated</p>
	<p>To sign in enter your details below</p>


  <form method="POST" class='mt-5' action="{% url 'login' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="id_username" class="form-label">Username</label>
      <input type="text"
             class="form-control form-control-lg"
             placeholder="Enter your username" name="username"
             autocapitalize="none"
             autocomplete="Username"
             maxlength="150"
             id="id_username" required autofocus>
      {{ form.username.errors }}
    </div>

    <div class="mb-3">
      <label for="id_password" class="form-label">Password</label>
      <div class="input-group input-group-lg mb-3">
        <input type="password"
               class="form-control"
               placeholder="Enter your password"
               aria-describedby="basic-addon1"
               name="password"
               autocomplete="current-password"
               id="id_password" required />

        <a class="btn btn-outline-secondary" onclick="showHidePassword('id_password')" href="#" role="button">
          <i class="fas fa-eye"></i>
        </a>
      </div>
      {{ form.password.errors }}
    </div>

    {{ form.errors }}

    <div class="d-grid"><button type="submit" class="btn btn-primary btn-lg mb-3">Login</button></div>

  </form>
</div>

{% endblock %}
