{% extends "half_image_base.html" %}
{% load i18n static %}
{% block content %}

{% if validlink %}
<div class="password-reset-confirm">
  <h2>Reset password</h2>

  <p>Please enter a new password</p>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label" for="new_password1">Password</label>
      <div class="input-group input-group-lg mb-3">
        <input type="password"
               class="form-control"
               placeholder="Enter new password"
               name="new_password1"
               autofocus
               autocapitalize="none"
               maxlength="150"
               required
               id="id_new_password1">

        <a class="btn btn-outline-secondary"
           id="confirmPass_Field"
           href="#"
           onclick="showHidePassword('id_new_password1')"
           role="button">
          <i class="fas fa-eye"></i>
        </a>
      </div>
      {{ form.new_password1.errors }}
    </div>

    <div class="mb-3">
      <label for="new_password2">Confirm password</label>
      <div class="input-group input-group-lg mb-3">
        <input type="password"
               class="form-control"
               placeholder="Repeat new password"
               aria-describedby="basic-addon1"
               name="new_password2"
               autocomplete="current-password"
               required
               id="id_new_password2" />
        <a class="btn btn-outline-secondary" id="confirmPass_Field"
          href="#" onclick="showHidePassword('id_new_password2')" role="button">
          <i class="fas fa-eye"></i>
        </a>
      </div>
    </div>

    <br />

    <div id="message" style="background-color: rgba(119, 60, 190, 0.05); border-radius: 10px;">
      <div class="container" style="padding-top: 13px; padding-bottom: 6px;">
        <div class="row">
          <span>Your password must contain:</span>
        </div>
        <ul class="">
          <li class="">at least 8 characters</li>
          <li class="">upper & lower case letters</li>
          <li class="">at least 1 number</li>
          <li class="">at least 1 special character</li>
        </ul>
      </div>
    </div>

    {{ form.errors }}

    <br />

    <div class="d-grid"><button type="submit" class="btn btn-primary btn-lg mb-3">Change my password</button></div>
  </form>
</div>

{% else %}

<p>
  {% translate "The password reset link was invalid, possibly because it has already been used. Please request a new
  password reset." %}
</p>

{% endif %}
{% endblock content %}
