<html>
	<head>
		<script type="application/javascript" src="/static/guacamole-common.js"></script>
	</head>
	<body>
		<h1>Guacamole Monitor</h1>
		<div id="display"></div>
		<script type="application/javascript">
			const webSocketFullUrl = "ws://localhost:8000/websocket/";
			var tunnel = new Guacamole.WebSocketTunnel(webSocketFullUrl)
			var guac = new Guacamole.Client(tunnel);

			// Add client to display div
			display.appendChild(guac.getDisplay().getElement());

			// Error handler
			guac.onerror = function(error) {
				console.log(error);
			};

			// Connect
			guac.connect();

			// Disconnect on close
			window.onunload = function() {
				guac.disconnect();
			}

			// Mouse
			var mouse = new Guacamole.Mouse(guac.getDisplay().getElement());

			mouse.onmousedown =
				mouse.onmouseup   =
				mouse.onmousemove = function(mouseState) {
					guac.sendMouseState(mouseState);
				};

			// Keyboard
			var keyboard = new Guacamole.Keyboard(document);

			keyboard.onkeydown = function (keysym) {
				guac.sendKeyEvent(1, keysym);
			};

			keyboard.onkeyup = function (keysym) {
				guac.sendKeyEvent(0, keysym);
			};
		</script>
	</body>
</html>
