.categoryDetailSection {
  .main-heading {
    font-size: 28px;
  }
  .tab-style {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #696f77;
    //max-height: 22px !important;
    padding: 10px 6px;
  }
}
