.system-modal {
  z-index: 2000;
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 783px;
    max-width: 783px;
    .css-ypiqx9-MuiDialogContent-root {
      padding: 20px 22px;
    }
  }
  .errorText{
    color: #ff1744;
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 1.8em;
  }
  .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    border-bottom: 1px solid #d9dbdd;
    .title-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "ProximaNova-Regular" !important;
      .modal-header {
        font-weight: 600;
      }
      .dialog-page {
        font-size: 16px;
        .pg-number {
          padding: 7px 30px;
        }
        .cross-btn {
          width: 15px;
          height: 15px;
          margin-left: 12px;
          margin-top: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    font-family: "ProximaNova-Regular" !important;
    .dropzone-title {
      font-weight: 600;
      margin-bottom: 8px;
    }
    .gallery-title {
      font-weight: 600;
      margin-bottom: 6px;
    }
    .checkbox-container {
      display: flex;
      flex-direction: row;
      margin-top: 26px;
      margin-bottom: 26px;
      justify-content: space-between;
      align-items: center;
      .checkBox {
        .css-5tfqm9-MuiButtonBase-root-MuiCheckbox-root {
          color: #d4d6db;
          padding: 0;
        }
        .text {
          font-size: 16px;
          font-style: "ProximaNova-Regular";
          margin-left: 5px;
        }
      }
    }
    .client-info {
      width: 100%;
      margin-top: 20px;
      .add-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-top: 30px;
        .add-btn {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #773cbd;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .text {
          margin-left: 20px;
          font-family: "ProximaNova-Regular";
          font-size: 16px;
          color: #773cbd;
        }
      }
      .info-section {
        .info-label {
          font-weight: 600;
          margin-bottom: 6px;
        }
        .info-field {
          width: 100%;
          height: 100%;
          .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            border: 1px solid #d4d6db;
            border-radius: 8px;
          }
          input {
            border: 1px solid #d4d6db;
            border-radius: 8px;
          }
        }
      }
      .box-heading {
        margin-top: 20px;
        .heading {
          font-weight: 600;
          margin-bottom: 6px;
        }
        .box {
          width: 100%;
          height: fit-content;
          border: 1px solid #d4d6db;
          padding: 10px 20px;
          border-radius: 5px;
          .info-field {
            width: 100%;
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
              border: 1px solid #d4d6db;
              border-radius: 8px;
            }
            input {
              border: 1px solid #d4d6db;
              border-radius: 8px;
            }
          }
          .info-label {
            font-weight: 600;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
  .css-hlj6pa-MuiDialogActions-root {
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 16px;
    .cancel-btn {
      background: #efe1ff;
      color: #773cbd;
      width: 47%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      text-transform: capitalize;
      &:hover {
        background: #efe1ff;
        color: #773cbd;
      }
    }
    .add-btn {
      color: #fff;
      background: #773cbd;
      width: 47%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      margin-left: 16px !important;
      text-transform: capitalize;
      &:hover {
        color: #fff;
        background: #773cbd;
      }
    }
  }
}
