.system-modal {
  .MuiDialog-paper {
    width: 783px;
    max-width: 783px;
    position: relative;
    .MuiDialogContent-root {
      padding: 20px 22px;
    }
  }
  .MuiAutocomplete-hasPopupIcon.css-dd2h8b-MuiAutocomplete-root
    .css-69t927-MuiCircularProgress-root {
    color: #773cbd !important;
  }
  .MuiOutlinedInput-root {
    height: 48px;
    border-radius: 8px;
    .MuiOutlinedInput-notchedOutline {
      border: 1px solid #d4d6db !important;
      border-radius: 8px !important;
    }
  }
  .errorText {
    color: #ff1744;
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .MuiOutlinedInput-input {
    height: 1.8em;
  }
  .MuiDialogTitle-root {
    border-bottom: 1px solid #d9dbdd;
    .title-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .modal-header {
        font-weight: 600;
      }
      .dialog-page {
        font-size: 16px;
        .pg-number {
          padding: 7px 30px;
        }
        .cross-btn {
          width: 15px;
          height: 15px;
          margin-left: 12px;
          margin-top: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .title-cross {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    .required {
      &:after {
        content: " *";
        color: red;
      }
    }
    .dropzone-title {
      font-weight: 600;
      margin-bottom: 8px;
    }
    .gallery-title {
      font-weight: 600;
      margin-bottom: 6px;
    }
    .checkbox-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .checkBox {
        margin-top: 21px;
        .MuiCheckbox-root {
          color: #d4d6db;
          padding: 0;
        }
        .text {
          font-size: 16px;
          margin-left: 5px;
        }
      }
    }
    .client-info {
      width: 100%;
      margin-top: 20px;
      .add-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-top: 30px;
        .add-btn {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #773cbd;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .text {
          margin-left: 20px;
          font-size: 16px;
          color: #773cbd;
        }
      }
      .info-section {
        .info-label {
          font-weight: 600;
          margin-bottom: 6px;
        }
        .info-field {
          width: 100%;
          height: 100%;
          .MuiOutlinedInput-notchedOutline {
            border: 1px solid #d4d6db;
            border-radius: 8px;
          }
          input {
            border: 1px solid #d4d6db;
            border-radius: 8px;
          }
        }
        .MuiOutlinedInput-root .MuiAutocomplete-input {
          padding: 1px 4px 7.5px 6px;
        }
        .modal-btn-styling {
          display: flex;
          align-items: center;
          margin-top: 10px;
          cursor: pointer;
        }
      }
      .box-heading {
        margin-top: 20px;
        .heading {
          font-weight: 600;
          margin-bottom: 6px;
        }
        .box {
          width: 100%;
          height: fit-content;
          border: 1px solid #d4d6db;
          padding: 10px 20px;
          border-radius: 5px;
          .info-field {
            width: 100%;
            .MuiOutlinedInput-notchedOutline {
              border: 1px solid #d4d6db;
              border-radius: 8px;
            }
            input {
              border: 1px solid #d4d6db;
              border-radius: 8px;
            }
          }
          .info-label {
            font-weight: 600;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
  .MuiDialogActions-root {
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 16px;
    .cancel-btn {
      background: #efe1ff;
      color: #773cbd;
      width: 47%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      text-transform: capitalize;
      &:hover {
        background: #efe1ff;
        color: #773cbd;
      }
    }
    .add-btn {
      color: #fff;
      background: #773cbd;
      width: 47%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      margin-left: 16px !important;
      text-transform: capitalize;
      &:hover {
        color: #fff;
        background: #773cbd;
      }
    }
  }
}

.search {
  .MuiOutlinedInput-notchedOutline {
    border: 1px solid #d4d6db !important;
    border-radius: 8px !important;
  }
  input {
    border: 1px solid #d4d6db;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 480px) {
  .system-modal {
    .MuiDialog-paper {
      width: 100%;
      margin: 5px;
    }
    .MuiDialogActions-root {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
