.CountingInfoSection {
  .cardsSection {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }
}
.mobileCountingInfoSection {
  .mobilecardsSection {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-between;
  }
}
