.DrawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-bottom: 1px solid #dce1e5;
  margin-bottom: 15px;
  .title {
    font-size: 20px;
    font-weight: 600;
    color: #151e39;
  }
}
.AddComment {
  padding: 14px;
  .MuiOutlinedInput-root {
    padding: 8px 12px;
    flex-direction: column;
    background-color: #f7f7f7;
  }
  .Mui-focused {
    background-color: #fff;
  }
  .css-1laqsz7-MuiInputAdornment-root {
    height: unset;
    max-height: unset;
    align-self: flex-end;
  }
  .AddCommentBtn {
    width: 78px;
    padding: 0;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    height: 36px;
    max-width: 200px;
  }
}
.CommentsSection {
  padding: 14px;
}
