$light-purple: #efe1ff;
$dark-purple: #773cbd;
.topicSection {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  .topicButton {
    color: $dark-purple;
    background-color: $light-purple;
    box-shadow: none;
    font-weight: bold;
  }
}
