.SiteCard {
  width: inherit;
  height: 187px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 2px 12px rgba(198, 198, 198, 0.25);
  border-radius: 4px;
  padding: 13px;
  &__Header {
    display: flex;
    justify-content: space-between;
    .ClientName {
      color: #111827;
      font-size: 16px;
      font-weight: 800;
      font-family: "ProximaNova-Regular" !important;
    }
  }
  .machines-info {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    width: 100%;
    overflow: hidden;
    .text {
      margin-left: 12px;
      margin-right: 30px;
      font-family: "ProximaNova-Regular";
      font-size: 12px;
      font-weight: 600;
      color: #6521b5;
      white-space: nowrap;
    }
  }
  .connections {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #92d5091a;
    width: 110px;
    height: 24px;
    border-radius: 10px;
    .dot {
      margin-left: 10px;
      height: 6px;
      width: 6px;
      background-color: #92d509;
      border-radius: 50%;
    }
    .text {
      font-size: 12px;
      font-family: "ProximaNova-Regular";
      margin-left: 7px;
      color: #568000;
    }
  }
  &__Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
  .location-logo {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: fit-content;
    height: 22px;
    border-radius: 10px;
    width: 100%;
    &__content {
      display: flex;
      flex-direction: row;
      padding-top: 2px;
      .text {
        font-size: 12px;
        font-family: "ProximaNova-Regular" !important;
        color: #696f77;
        font-weight: 600;
        margin-left: 7px;
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .dropdown {
    cursor: pointer;
    color: #6b7280;
    position: absolute;
    top: 13px;
    right: 5px;
  }
}

.Site-dropdownMenu {
  .MuiPaper-elevation {
    transform: translate(0px, 10px) !important;
  }
  ul {
    width: 170px;
    margin-top: 10px;
    li {
      font-weight: 400;
      font-size: 16px;
      width: 100%;
      color: #111827;
      padding: 4px;
      margin-bottom: 5px;
    }
  }
}
