.OrganizationSection {
  .tab-style {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #696f77;
    //max-height: 22px !important;
    padding: 10px 6px;
  }
  &__Header {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    height: 47px;
    width: 100%;
    .InputSection {
      display: flex;
      width: 78%;
      .Filterbtn {
        border: 1px solid #d4d6db;
        background-color: #fff;
        margin-right: 8px;
        border-radius: 8px;
        padding: 10px 16px 6px 9px;
        color: #696f77;
        box-shadow: unset;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        .btn-content {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            align-self: center;
          }
        }
      }
      .Search-input {
        background-color: #fff;
        border-radius: 8px;
        max-width: 37%;
        min-width: 30%;
        height: 100%;
        .MuiOutlinedInput-root {
          height: 100%;
        }
        input {
          padding: 10px 16px 6px 9px;
        }
      }
    }
    .AddClientsbtn {
      width: 190px;
      text-align: center;
      .btn-content {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }
  &__AllClients {
    margin-top: 9px !important;
    margin-left: 0px !important;
    width: 100% !important;
    &__LoadingText {
      color: "gray";
      margin-left: "50%";
      margin-top: "30%";
    }
  }
}
