.documentaion-section {
  .MuiTableCell-head {
    text-align: left;
  }
  .MuiTableCell-body {
    text-align: left;
  }
  .dark-text {
    color: "#111827";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .modality-section {
    display: flex;
    flex-direction: row;
    .modality {
      background-color: rgba(146, 213, 9, 0.16);
      padding: 2px 10px;
      margin-right: 10px;
      color: #395303;
      line-height: 16px;
      font-size: 12px;
    }
  }
  .documentaion-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 8px 45px 8px 13px;
    border: 1px solid #d4d6db;
    border-radius: 6px;
    height: 40px;
    width: -webkit-fill-available;
    .img {
      height: 23px;
      width: 23px;
      margin: 0px 12px;
    }
  }
}
