{% extends "half_image_base.html" %}

{% block content %}
<div class="welcome">
	<h1>Welcome</h1>
	<p>Please select options below</p>

	<div class="card">
		<div class="card-body">
			<div class='item-col'>Image</div>
			<div class='item-col'>
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col'>
				<a href="/users/">User Administration</a>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class='item-col'>Image</div>
			<div class='item-col'>
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col'>
				<a href="/organizations/">3rd-party Administration</a>
			</div>
		</div>
	</div>

</div>

{% endblock %}
