{% extends "half_image_base.html" %}
{% load static %}
{% block content %}

<div class="welcome-page">
	<h2>Welcome</h2>
	<p>Please select options below</p>


	{% if "organization" in user_data.flags %}
	<div class="card">
		<div class="card-body">
			<div class='item-col'>
				<img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=99"
				 style="border-radius: 50%;" width="50" height="50">
			</div>
			<div class='col' style="align-self:center;">
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col' style="align-self:flex-end;">
				<a class="btn btn-primary"
			     style="background-color: #773CBD; border-color: transparent;"
					 href="/organizations/"
					 role="button">3rd-party Administration</a>
			</div>
		</div>
	</div>
	{% endif %}

	{% if "modality" in user_data.flags %}
	<div class="card">
		<div class="card-body">
			<div class='item-col'>
				<img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=99"
				 style="border-radius: 50%;" width="50" height="50">
			</div>
			<div class='col' style="align-self:center;">
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col' style="align-self:flex-end;">
				<a class="btn btn-primary"
					 href="/modality/"
			     style="background-color: #773CBD; border-color: transparent;"
					 role="button">Modality Administration</a>
			</div>
		</div>
	</div>
	{% endif %}

	{% if "user" in user_data.flags %}
	<div class="card">
		<div class="card-body">
			<div class='item-col'>
				<img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=99"
				 style="border-radius: 50%;" width="50" height="50">
			</div>
			<div class='col' style="align-self:center;">
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col' style="align-self:flex-end;">
				<a class="btn btn-primary"
			 		 href="/users/"
					 style="background-color: #773CBD; border-color: transparent;"
					 role="button">User Administration</a>
			</div>
		</div>
	</div>
	{% endif %}

	{% if "documentation" in user_data.flags %}
	<div class="card">
		<div class="card-body">
			<div class='item-col'>
				<img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=99"
				 style="border-radius: 50%;" width="50" height="50">
			</div>
			<div class='col' style="align-self:center;">
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col' style="align-self:flex-end;">
				<a class="btn btn-primary"
					 href="/documentation/"
					 style="background-color: #773CBD; border-color: transparent;"
					 role="button">Documentation Administration</a>
			</div>
		</div>
	</div>
	{% endif %}

	{% if "vfse" in user_data.flags %}
	<div class="card">
		<div class="card-body">
			<div class='item-col'>
				<img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=99"
				 style="border-radius: 50%;" width="50" height="50">
			</div>
			<div class='col' style="align-self:center;">
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col' style="align-self:flex-end;">
				<a class="btn btn-primary"
					 href="/vfse/"
			 		 style="background-color: #773CBD; border-color: transparent;"
					 role="button">vFSE</a>
			</div>
		</div>
	</div>
	{% endif %}

	{% if "appearance" in user_data.flags %}
	<div class="card">
		<div class="card-body">
			<div class='item-col'>
				<img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=99"
				 style="border-radius: 50%;" width="50" height="50">
			</div>
			<div class='col' style="align-self:center;">
				<div>Ricardo Cooper</div>
				<div>ricardo.cooper@example.com</div>
			</div>
			<div class='item-col' style="align-self:flex-end;">
				<a class="btn btn-primary"
					 href="{{redirect_map.appearance}}"
			 		 style="background-color: #773CBD; border-color: transparent;"
					 role="button">Appearance</a>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
