.article-description {
  padding: 24px 40px 24px 24px;
  background: #ffff;
  max-height: calc(100vh - 149px);
  overflow-y: auto;
  .heading {
    color: #773cbd;
    font-family: "ProximaNova-Bold";
    font-size: 24px;
  }
  .description {
    font-size: 16px;
    font-family: "ProximaNova-Regular";
  }
}
