.system-section {
  .chatBg {
    position: absolute;
    right: -5px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 60px;
    height: 60px;
    background-color: #773cbd;
    border-radius: 50%;
    cursor: pointer;
  }
  .modalities {
    margin-top: 32px;
    overflow-x: scroll;
    z-index: 1000;
    .modality {
      flex-wrap: wrap;
      margin-right: 40px;
      font-size: 16px;
      font-weight: 600;
      color: #696f77;
      //max-height: 22px !important;
      padding: 9px 6px;
      cursor: pointer;
      white-space: nowrap;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
