.system-section {
  .modalities {
    margin-top: 32px;
    overflow-x: scroll;
    z-index: 1000;
    .modality {
      flex-wrap: wrap;
      margin-right: 40px;
      font-size: 16px;
      font-weight: 600;
      color: #696f77;
      //max-height: 22px !important;
      padding: 11px 6px;
      cursor: pointer;
      white-space: nowrap;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
