.overview {
  height: fit-content;
  .card {
    padding: 20px 25px;
    background: #ffff;
    .heading {
      word-wrap: break-word;
      font-family: "ProximaNova-Regular";
      font-size: 24px !important;
      text-decoration: none;
      text-transform: capitalize;
      display: block;
      color: black;
      font-weight: bold;
      font-size: 16px;
    }
    .active {
      color: #773cbd !important;
    }
    .description {
      margin-top: 16px;
      font-size: 16px;
      font-family: "ProximaNova-Regular";
      text-transform: capitalize;
    }
  }
}
