.overview {
  height: fit-content;
  .card {
    padding: 20px 25px;
    background: #ffff;
    .heading {
      color: #773cbd;
      word-wrap: break-word;
      font-family: "ProximaNova-Bold";
      font-size: 16px;
      text-transform: capitalize;
    }
    .description {
      margin-top: 16px;
      font-size: 16px;
      font-family: "ProximaNova-Regular";
      text-transform: capitalize;
    }
  }
}
