$green-color: #92d509;
$light-grey: #696f77;
$dark-grey: #92d509;
$primary-purple: #773cbd;
.header {
  border-radius: 15px !important;
  overflow: hidden;
  background-color: white;
  .headerTop {
    background-image: url("@src/assets/images/headerTopBg.png");
    background-size: cover !important;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding: 4.5rem;

    .profilePic {
      position: absolute;
      top: 80px;
      left: 10px;
    }
    .editProfileBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 32px;
      box-shadow: unset;
      padding: 4px 12px 4px 8px;
      text-transform: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #92d509;
    }
    .cameraIcon {
      color: rgba(58, 58, 58, 0.87);
      background-color: white;
      border-radius: 50%;
      padding: 2px;
      position: absolute;
      bottom: -45px;
      left: 102px;
      width: 30px;
      cursor: pointer;
      height: 30px;
    }

    .editButton {
      background-color: $green-color !important;
      padding: 0.3rem 1.7rem;
      box-shadow: none !important;
      text-transform: none;
      margin-bottom: 4rem;
    }
  }
  .headerBottom {
    padding: 1.5rem;
    .iconsSec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .roleText {
        color: $light-grey;
      }
      .icons {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .about {
      justify-content: space-between;
    }
  }
}

@media (max-width: 900px) {
  .profilePic {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .cameraIcon {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
