.systemGallery {
  position: relative;
  width: 100%;
  border: 1px dashed #a7aeb2;
  padding: 10px;
  .selectedImage {
    margin-bottom: 20px;
    text-align: center;
    img {
      width: 70%;
      height: 200px;
      object-fit: contain;
    }
  }
  .image {
    height: 80px;
    width: 80px;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
  .imageOver {
    width: 164px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 164px;
    height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .systemGallery {
    .SystemImageList {
      display: flex;
      height: auto;
    }
  }
}
