.ListModal {
  &__Content {
    display: list-item;
    width: 100%;
    padding: 0px !important;
    .modal-list {
      width: 100%;
      .list-item {
        border-bottom: 1px solid #ebeced;
        height: 60px;
        font-size: 20px;
        text-transform: capitalize;
        text-align: center;
        display: flex;
        padding: 0px 24px;
        align-items: center;
      }
    }
  }
  &__Actions {
    width: 100%;
    justify-content: center !important;
    .btnModal {
      color: #fff;
      background: #773cbd;
      width: 80%;
      padding: 0px 20px;
      padding-top: 15px;
      padding-bottom: 11px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      margin-bottom: 16px;
      &:hover {
        background: #efe1ff;
        color: #773cbd;
      }
    }
  }
  h2 {
    width: 100%;
    background-color: #f5f6f7 !important;
    text-align: center;
    border-bottom: 1px solid #ebeced;
    padding-top: 18px;
    padding-bottom: 14px;
  }
}
.ListModal .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  padding: 0px 0px !important;
}
