.users-modal {
  .MuiDialog-paper {
    width: 784px;
    max-width: 800px;
  }

  .errorText {
    color: #ff1744;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .MuiDialogTitle-root {
    border-bottom: 1px solid #d9dbdd;
    .title-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .modal-header {
        font-weight: 600;
      }
      .dialog-page {
        font-size: 16px;
        .pg-number {
          padding: 7px 30px;
        }
        .cross-btn {
          width: 15px;
          height: 15px;
          margin-left: 12px;
          cursor: pointer;
        }
      }
    }
  }
  .title-cross {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    .required {
      &:after {
        content: " *";
        color: red;
      }
    }
    .info-label {
      font-weight: 600;
      margin-bottom: 6px;
      margin-top: 25px;
    }
    .full-field {
      width: 100%;
      height: 48px !important;
      .MuiTextField-root {
        border: 1px solid #d4d6db;
        border-radius: 8px;
        height: 48px !important;
      }
      input {
        border: 1px solid transparent;
        height: 8px;
        border-radius: 8px;
      }
    }
    .divided-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .info-label {
        font-weight: 600;
        margin-bottom: 6px;
        margin-top: 25px;
      }
      .info-field {
        width: 356px;
        height: 48px !important;
        .MuiOutlinedInput-notchedOutline {
          border: 1px solid #d4d6db;
          border-radius: 8px;
          height: 48px !important;
        }
        input {
          border: 1px solid transparent;
          height: 8px;
          border-radius: 8px;
        }
      }
    }
    .network-details {
      background: #fcfcfd;
      border: 1px solid #d9dbdd;
      margin-bottom: 8px;
      padding: 15px;
      font-size: 14px;
      font-weight: 600;
      .header {
        width: 100%;
        .title {
          width: 45%;
          display: inline-block;
        }
        .checked-ratio {
          color: #85878f;
          display: inline-block;
          text-align: right;
          width: 52%;
        }
      }
      .options {
        font-size: 14px;
        font-weight: 400;
        color: #85878f;
      }
    }
    .modalities-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .checked-ratio {
        color: #85878f;
        margin-top: 25px;
      }
    }
    .toggle-btn {
      min-width: 65px;
      margin-right: 12px !important;
      border: 1px solid #d4d6db !important;
      border-radius: 8px !important;
      margin-bottom: 18px;
      padding: 8px 24px;
    }
    .services {
      display: flex;
      flex-direction: row;

      .service-options {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .MuiDialogActions-root {
    justify-content: center;
    margin-bottom: 12px;
    padding: 20px 26px 20px 26px;
    .cancel-btn {
      background: #efe1ff;
      color: #773cbd;
      width: 49%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      text-transform: capitalize;
      &:hover {
        background: #efe1ff;
        color: #773cbd;
      }
    }
    .add-btn {
      color: #fff;
      background: #773cbd;
      width: 48%;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      margin-left: 10px !important;
      text-transform: capitalize;
      &:hover {
        color: #fff;
        background: #773cbd;
      }
    }
  }
}

.my-checkbox-wrapper .MuiCheckbox-colorPrimary {
  color: "green" !important;
}

@media only screen and (max-width: 480px) {
  .users-modal {
    .MuiDialog-paper {
      width: 100%;
      margin: 5px;
    }
    .modal-content {
      .divided-div {
        flex-direction: column;
        .MuiFormControl-root {
          min-width: unset;
          width: 100%;
        }
        .info-field {
          width: 100%;
        }
      }
    }

    .MuiDialogTitle-root {
      .title-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .modal-header {
          font-weight: 600;
          width: 35%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .dialog-page {
          font-size: 16px;
          display: flex;
          align-items: center;
          .pg-number {
            padding: 0px;
          }
        }
      }
    }
  }
  .title-cross {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
