@import "@src/styles/shared/typogrophy.scss";

.Registeration {
  background-color: #fff;
  height: 100vh;
  font-family: "ProximaNova-Regular";
  display: flex;
  justify-content: space-between;
  &__Section {
    width: 45%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    .vfseLogo {
      width: 80px;
      img {
        width: 100%;
      }
    }
    .Form {
      margin-top: 5%;
      .errorText {
        color: #ff1744;
        font-size: 0.8rem;
        margin-top: -2px;
      }
      .title {
        margin-bottom: 0.5rem;
        font-size: 32px;
      }
      .info-section {
        display: flex;
        flex-direction: column;
        .required {
          &:after {
            content: " *";
            color: red;
          }
        }
        .dropzone-title {
          font-weight: 600;
          margin-bottom: 8px;
        }
        .dropzone-style {
          border: 1px dashed #a7aeb2;
          height: 200px;
          width: 60%;
          margin-bottom: 10px;
        }
        .info-label {
          font-weight: 600;
          margin-bottom: 6px;
        }
        .info-field {
          width: 100%;
          margin-bottom: 8px;
          .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            border: 1px solid #d4d6db;
            border-radius: 8px;
          }
          input {
            border: 1px solid #d4d6db;
            border-radius: 8px;
            padding: 10px 13px;
          }
        }
        .divided-div {
          display: flex;
          justify-content: space-between;
          .group {
            width: 48%;
          }
          .info-field {
            width: 100%;
            input {
              border: unset;
            }
          }
        }
      }
      .register-btn {
        margin-top: 12px;

        background: #773cbd;
        color: #efe1ff;
        width: 100%;
        padding: 13px 20px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        text-transform: capitalize;
        &:hover {
          background: #773cbd;
          color: #efe1ff;
        }
      }
      .login-section {
        margin-top: -17px;
        display: flex;
        align-items: baseline;
        .login-btn {
          text-transform: capitalize;
          margin-top: 2px;
          text-decoration: underline;
          font-size: 15px;
          padding-left: 0px;
        }
      }
      .btn-group {
        margin-top: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 50px;
        .register-btn {
          margin-top: 12px;
          background: #773cbd;
          color: #efe1ff;
          width: 100%;
          padding: 13px 20px;
          font-size: 16px;
          font-weight: 600;
          border-radius: 8px;
          text-transform: capitalize;
          &:hover {
            background: #773cbd;
            color: #efe1ff;
          }
        }
      }
    }
  }
  .CoverSection {
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 1180px) {
  .Registeration {
    &__Section {
      width: 50%;
      padding-left: 20px !important;
      padding-right: 20px !important;
      display: flex;
      flex-direction: column;
      .Form {
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        .info-section {
          .dropzone-style {
            width: 100%;
          }
        }
        .btn-group {
          margin-top: 5px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-bottom: 0px;
        }
      }
    }
    .CoverSection {
      position: fixed;
      width: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .Registeration {
    &__Section {
      width: 100%;
      padding-left: unset;
      padding-right: unset;
      padding-top: unset;
      padding: 10px;
      .Form {
        .info-section {
          .dropzone-style {
            width: 100%;
          }
        }
      }
    }
  }
  .CoverSection {
    display: none;
  }
}
