.knowledge-top-card {
  .card {
    height: 220px;
    border-radius: 8px;
    position: relative;
    padding: 21px;
    background: white;
    box-shadow: 3px 3px 12px rgba(10, 35, 83, 0.08);
    margin-right: 16px;
    margin-bottom: 16px;
    overflow: hidden;
    .title {
      font-family: "ProximaNova-Regular";
      font-size: 13px;
      font-weight: 600;
      color: #151e29;
      font-size: 16px;
      line-height: 24px;
    }
    .info {
      font-family: "ProximaNova-Regular";
      font-size: 12px;
      color: #696f77;
      margin-top: 7px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .knowledge-top-card {
    .card {
      width: 184px;
    }
  }
}
