{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="theme-color" content="#000000" />

    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
      <meta name="application-name" content="vFSE" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="default" />
      <meta name="apple-mobile-web-app-title" content="vFSE - Virtual Field Service Engineer" />
      <meta name="description" content="Virtual field engineer management system" />
      <meta name="theme-color" content="#f69435" />
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/icons/apple-touch-icon-114x114.png' %}" />
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/icons/apple-touch-icon-120x120.png' %}" />
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/icons/apple-touch-icon-144x144.png' %}" />
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/icons/apple-touch-icon-152x152.png' %}" />
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/apple-touch-icon-180x180.png' %}" />
      <link rel="manifest" href="{% static 'manifest.json' %}" />
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="title" content="vFSE - Virtual field service engineer" />

    <meta name="robots" content="noindex, nofollow" />
    <title>vFSE</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />
    {% block head %}{% endblock %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register("{% static '/web/sw.js' %}", { scope: '/' }).then(registration => {
            console.log('SW registered: ', registration);
          }).catch(registrationError => {
            console.log('SW registration failed: ', registrationError);
          });
        });
      }
    </script>
  </head>

  <body data-flags="{% block data_flags %}{% endblock %}">
    {% block body %}{% endblock %}

    <script src="{% static '/vendor.bundle.js' %}"></script>
    {% block js_includes %}{% endblock %}
  </body>
</html>
