{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <meta name="theme-color" content="#000000" />

    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
      <meta name="application-name" content="vFSE" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="default" />
      <meta name="apple-mobile-web-app-title" content="vFSE - Virtual Field Service Engineer" />
      <meta name="description" content="Virtual field engineer management system" />
      <meta name="theme-color" content="#f69435" />
      <link rel="apple-touch-icon" sizes="16x16" href="{% static 'assets/icons/15.png' %}" />
      <link rel="apple-touch-icon" sizes="32x32" href="{% static 'assets/icons/32.png' %}" />
      <link rel="apple-touch-icon" sizes="40x40" href="{% static 'assets/icons/40.png' %}" />
      <link rel="apple-touch-icon" sizes="48x48" href="{% static 'assets/icons/48.png' %}" />
      <link rel="apple-touch-icon" sizes="50x50" href="{% static 'assets/icons/50.png' %}" />
      <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/icons/60.png' %}" />
      <link rel="apple-touch-icon" sizes="64x64" href="{% static 'assets/icons/64.png' %}" />
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/icons/72.png' %}" />
      <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/icons/76.png' %}" />
      <link rel="apple-touch-icon" sizes="80x80" href="{% static 'assets/icons/80.png' %}" />
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/icons/144.png' %}" />
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/icons/120.png' %}" />
      <link rel="apple-touch-icon" sizes="128x128" href="{% static 'assets/icons/128.png' %}" />
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/icons/144.png' %}" />
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/icons/152.png' %}" />
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/180.png' %}" />
      <link rel="apple-touch-icon" sizes="192x192" href="{% static 'assets/icons/192.png' %}" />
      <link rel="apple-touch-icon" sizes="256x256" href="{% static 'assets/icons/256.png' %}" />
      <link rel="apple-touch-icon" sizes="512x512" href="{% static 'assets/icons/512.png' %}" />
      <link rel="apple-touch-icon" sizes="1024x1024" href="{% static 'assets/icons/1024.png' %}" />
      <link rel="manifest" href="{% static 'manifest.json' %}" crossorigin="use-credentials" />
      <link rel="shortcut icon" href="{% static 'assets/icons/logo.png' %}" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="title" content="vFSE - Virtual field service engineer" />

    <meta name="robots" content="noindex, nofollow" />
    <title>vFSE</title>
    {% render_bundle 'main' 'css' %}
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/icons/logo.png' %}"
    />
    {% block head %}{% endblock %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register("{% static '/web/sw.js' %}", { scope: '/' }).then(registration => {
            console.log('SW registered: ', registration);
          }).catch(registrationError => {
            console.log('SW registration failed: ', registrationError);
          });
        });
      }
    </script>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
      <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
 integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
 crossorigin=""></script>
  </head>

  <body data-flags="{% block data_flags %}{% endblock %}">
    {% block body %}{% endblock %}


    {% block js_includes %}{% endblock %}
  </body>
</html>
