{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="/static/bootstrap_5_1_3/bootstrap.min.css" rel="stylesheet" />

<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'half_image.css' %}" />
{% endblock %}
{% block body %}
<div class="container-fluid half-image">
  <div class="row">
    <div class="col-12 col-lg-6 col-md-6 first-half">
      <div class="content-wrapper">
        <img class="logo img-fluid" src="{% static 'assets/logo.svg' %}" alt="626 brand" />
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-none d-md-block second-half" style="padding:0px">
      <img src="{% static 'assets/loginImage.png' %}" alt="626 brand" />
    </div>
  </div>
</div>


  <script src="/static/bootstrap_5_1_3/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'index.js' %}"></script>
{% endblock body %}
