.chatBox {
  width: 328px;
  height: 455px;
  position: fixed;
  bottom: 0;
  right: 5px;
  background-color: #fff;
  z-index: 50;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .chatHeader {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f5f6f7;
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #151e39;
    }
  }
  .chatSection {
    height: 75%;
    width: 100%;
    overflow-y: auto;
  }
  .InputSection {
    height: 15%;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .sendIcon {
      width: 34px;
      height: 33px;
    }
    .sendIcon-Container {
      height: 56px;
      width: 72px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
    }
  }
}
.chatBotResponse {
  width: 95%;
  padding: 10px;
  cursor: pointer;
}

@media(max-width: 390px) {
  .chatBox {
    width: 250px;
    height: 355px;
    position: relative;
    margin-top: 94px;
    right: 5px;
    left: 114px;

    .chatHeader {
      height: 12%;
      width: 100%;
    }

    .InputSection {
      height: 19%;
    }
  }
}
