@import "@src/styles/shared/_variables.scss";
@media (min-width: $small-mobile-screens) and (max-width: $normal-mobile-screens) {
  .btn-add {
    min-width: 30px;
    width: 30px;
  }
  .jss8 .MuiOutlinedInput-root {
    min-width: 150px;
  }
  .show-hide {
    display: none;
  }
}
@media (min-width: $normal-mobile-screens) and (max-width: 825px) {
  .btn-add {
    min-width: 50px;
    width: 50px;
  }
  .show-hide {
    display: none;
  }
}
@media (min-device-width: 0px) and (max-device-width: 301px) {
  .btn-add {
    min-width: 50px;
    width: 50px;
  }
  .show-hide {
    display: none;
  }
}
.btn-title-text {
  padding-top: 3px;
}
@media only screen and (min-width: 825px) {
  .btn-add {
    min-width: 150px;
    width: 220px;
    display: flex;
    flex-wrap: nowrap;
  }
  .show-hide {
    padding-left: 1px;
    width: max-content;
  }
}
