.knowledgeSection {
  padding-left: 20px;
  .main-heading {
    font-family: "ProximaNova-Extrabold";
    font-size: 28px;
  }
  .sub-heading {
    margin: 25px 0;
    font-family: "ProximaNova-Extrabold";
    font-size: 22px;
  }
}
