.knowledgeSection {
  padding-left: 30px;
  .main-heading {
    font-family: "ProximaNova-Extrabold";
    font-size: 28px;
  }
  .sub-heading {
    margin: 24px 0;
    font-family: "ProximaNova-Extrabold";
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) {
  .knowledgeSection {
    padding-left: 0px;
    position: relative;
    .flicking-camera {
      display: flex;
    }
  }
}
