div.mid {
  display: flex;

  div.content {
    width: 100%;
  }

  div.content,
  div.sidebar {
    padding: 10px;
  }
}
.css-1s2075w-MuiButtonBase-root-MuiButton-root {
  font-family: unset !important;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  font-family: unset !important;
}
.css-um85do-MuiDataGrid-root {
  font-family: unset !important;
}
