@import "@src/styles/shared/typogrophy.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  font-family: "ProximaNova-Regular";
}

.replyIconText {
  color: #65676b;
  font-size: 0.9375rem;
  font-weight: 600;
}
