.timeline_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-right: auto;
  overflow: auto;
  .timelineLeft {
  }
  .recentActivity {
    margin-top: 16px;
    .card {
      height: auto;
      border-radius: 8px;
      background: white;
      box-shadow: 3px 3px 12px rgba(10, 35, 83, 0.08);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px;
      .recentActivityTitle {
        display: flex;
        .topicHeading {
          margin-left: 8px;
        }
      }
      .userStatus {
        display: flex;
        margin-top: 16px;
        .statusDetail {
          margin-left: 8px;
          font-family: "ProximaNova-Regular";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #696f77;
          flex-direction: row;
          flex-wrap: wrap;
          .username {
            color: #773cbd;
            font-weight: 600;
          }
          .postTime {
            font-family: "ProximaNova-Regular";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
          }
        }
      }
      .createTopics {
        display: flex;
        .createTopicHading {
          margin-left: 8px;
        }
      }
      .pagtiondot {
        display: flex;
        justify-content: center;
        margin-top: 16px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #recentActivity {
    order: 1;
    display: flex;
    flex-direction: column-reverse;
    max-width: inherit;
    padding: 1px;
    box-sizing: unset;
    flex-grow: unset;
    flex-basis: unset;
  }
  .timelineLeft {
    order: 1;
  }
  #mainProfileGrid {
    display: flex;
    flex-direction: row;
  }
  #profileTimeLine {
    display: flex;
    flex-direction: column;
    order: 2;
    flex-direction: unset;
    flex-basis: unset;
    flex-grow: unset;
    max-width: 100%;
  }
}
