.css-um85do-MuiDataGrid-root .MuiDataGrid-iconSeparator {
  color: transparent !important;
}

.css-um85do-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  padding: 0 !important;
}

.css-um85do-MuiDataGrid-root {
  border-radius: 8px !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06) !important;
}

.MuiDataGrid-row.Mui-odd {
  background: #f9fafb !important;
}

.UserDropdownMenu {
  .MuiPaper-elevation {
    transform: translate(-50px, -30px) !important;
  }
}

.MuiDataGrid-row:nth-child(odd) {
  background-color: #f9fafb !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.css-okt5j6-MuiDataGrid-columnHeaders {
  padding: 4px 14px;
  color: #6b7280 !important;
}

.css-um85do-MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.css-um85do-MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: rgba(119, 60, 189, 0.08) !important;
}

.css-um85do-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  padding: 2px 24px !important;
}
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  margin-top: 6px;
}
.css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar {
  padding-top: 2px;
}

.user-section {
  .modality-section {
    display: flex;
    flex-direction: row;
    .modality {
      background-color: rgba(146, 213, 9, 0.16);
      padding: 2px 10px;
      margin-right: 4px;
      color: #395303;
      line-height: 16px;
      font-size: 12px;
    }
  }
}

.modalities-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  min-width: 0;
}

.MuiDataGrid-colCell[data-field="modalities"],
.MuiDataGrid-columnHeader[data-field="modalities"] {
  height: 56px;
  width: 100%;
  min-width: 310px !important;
  max-width: 310px !important;
}

.MuiDataGrid-cell[data-field="modalities"] {
  max-width: 300px !important;
  min-width: 300px !important;
}
