.css-um85do-MuiDataGrid-root .MuiDataGrid-iconSeparator {
    color: transparent !important;
}

.css-um85do-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
    padding: 0 !important;
}

.MuiDataGrid-row.Mui-odd {
    background: #F9FAFB !important;
}

.UserDropdownMenu{
    .MuiPaper-elevation {
        transform: translate(-150px, 0px) !important;
    }
}