@import "@src/styles/shared/_variables.scss";
.AppearanceSection {
  &__clientCard {
    margin-top: 32px;
    background-color: #fff;
    padding: 42px;
  }
  &__clientSection {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .labels {
      margin-bottom: 6px;
    }
    .clientName {
      width: 40%;
      margin-bottom: 26px;
      .nameInput {
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        .MuiOutlinedInput-notchedOutline {
          border-color: #d4d6db;
        }
        input {
          padding: 12px 16px 12px 16px;
          border: 1px solid #d4d6db;
          border-radius: 8px;
          &::placeholder {
            color: #85878f;
          }
        }
      }
    }
    .clientTheming {
      width: 100%;
      display: flex;
      margin-bottom: 24px;
      .clientLogo {
        width: 40%;
        .logo {
          width: 100%;
          height: 163px;
          border: 1px solid #d4d6db;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          overflow: hidden;
        }
      }
      .colorSection {
        display: flex;
        flex-direction: column;
        margin-top: -100px;
        width: 60%;
        .container {
          display: flex;
        }
        .appearanceColorSection {
          margin-left: 28px;
          margin-right: 5px;
          margin-bottom: 18px;
        }
      }
    }
    .clientFonts {
      display: flex;
      width: 100%;
      align-items: flex-end;
      margin-bottom: 24px;
      .font-demo {
        margin-right: 25px;
        margin-top: 32px;
        font-size: 32px;
      }
      .font-wrapper {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        flex-wrap: wrap-reverse;
      }
      .font-section {
        margin-right: 15px;
        .css-1ceyddh-MuiFormControl-root {
          min-width: 145px;
        }
      }
    }
    .SaveAppearanceBtn {
      width: 50%;
      padding: 10px;
      font-weight: 600;
      font-size: 16px;
      max-width: 200px;
      margin-top: 20px;
      align-self: flex-end;
      flex: 1 0 auto;
    }
    .css-1s2075w-MuiButtonBase-root-MuiButton-root.Mui-disabled {
      color: rgba(0, 0, 0, 0.26) !important;
      box-shadow: none !important;
      background-color: rgba(0, 0, 0, 0.12) !important;
    }
  }
}

@media only screen and (min-width: $ipad) and (max-width: $ipad-pro) {
  .AppearanceSection {
    &__clientSection {
      width: 100%;
    }
  }
}
@media only screen and (min-width: $ipad) and (max-width: 1023px) {
  .AppearanceSection {
    &__clientCard {
      overflow-x: auto;
    }
    &__clientSection {
      .clientName {
        width: 55%;
      }
      .clientFonts {
        flex-direction: column;
        margin-top: -160px;
        align-items: flex-start;
        .font-wrapper {
          flex-wrap: wrap-reverse;
          margin: 10px 0px;
        }
        .font-demo {
          font-size: 26px;
        }
      }
      .clientTheming {
        justify-content: space-between;
        .clientLogo {
          width: 55%;
        }
        .colorSection {
          width: 45%;
          .container {
            flex-direction: column;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .AppearanceSection {
    margin-bottom: 110px;
    &__clientCard {
      padding: 25px;
    }
    &__clientSection {
      width: unset;
      .clientFonts {
        align-items: flex-start;
        margin-bottom: 0px;
        flex-direction: column;
        .font-demo {
          margin-right: 0;
          margin-top: 5px;
          margin-bottom: 0px;
        }
        .font-section {
          margin-right: 0px;
          width: 100%;
          .css-1ceyddh-MuiFormControl-root {
            width: 100%;
          }
        }
      }
      .clientName {
        width: 100%;
      }
      .clientTheming {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        .clientLogo {
          width: 100%;
        }
        .colorSection {
          flex-direction: column;
          width: 100%;
          margin-top: 26px;
          .container {
            flex-direction: column;
          }
          .appearanceColorSection {
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 26px;
          }
        }
      }
      .SaveAppearanceBtn {
        margin-top: 0px;
        max-width: unset;
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}
.forum{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}