.rootSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-direction: unset;
  overflow: hidden;
  .css-1o6k2p0 .MuiTextField-root {
    width: unset;
  }
  .create-topic-btn {
    display: flex;
    height: fit-content;
    flex-shrink: 80;
    .AddTopicsbtn {
      .btn-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        .text {
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          padding-top: 3px;
          flex-wrap: wrap;
          display: inline-block;
        }
      }
    }
  }
}
.div-wrapper {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  flex: inherit;
}
.mobilerootSection {
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}
.heading {
  margin-top: 23px;
  margin-bottom: 23px;
}
@media screen and (max-width: 566px) {
  #remove {
    display: none;
  }
  .create-topic-btn {
    display: flex;
    overflow: hidden;
    flex-shrink: 80;
  }
}
