.rootSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .css-1o6k2p0 .MuiTextField-root {
    width: unset;
  }
  .create-topic-btn {
    .AddTopicsbtn {
      .btn-content {
        display: flex;
        height: 27px;
      }
    }
  }
}
.mobilerootSection {
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}
