.rootSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-direction: unset;
  overflow: hidden;
  .css-1o6k2p0 .MuiTextField-root {
    width: unset;
  }
  .create-topic-btn {
    display: flex;
    height: fit-content;
    .AddTopicsbtn {
      .btn-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        .text {
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          padding-top: 3px;
          flex-wrap: wrap;
          display: inline-block;
        }
      }
    }
  }
}
.div-wrapper {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  flex: inherit;
}
.mobilerootSection {
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}
.heading {
  margin-top: 23px;
  margin-bottom: 23px;
}
@media screen and (max-width: 566px) {
  #remove {
    font-size: small;
  }
  .create-topic-btn {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 0;
  }
  .div-wrapper {
    display: flex;
    flex-basis: 0;
    min-width: 0;
    flex-direction: column-reverse;
    width: 80%;
    justify-content: start;
    flex-wrap: wrap;
    flex: inherit;
  }
  #search-topics {
    font-size: medium;
  }
}
.toggle-btn > span {
  border: 2px solid #773cbd;
}
//inside full-field-desc
.MuiInputBase-formControl {
  height: inherit;
  justify-content: center;
  align-items: flex-start;
}
.PrivateSwitchBase-root {
  padding-bottom: 12px;
}
.MuiInputAdornment-sizeSmall {
  height: 35px;
}
.MuiInputBase-adornedStart {
  align-items: center;
}
