<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title></title>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
      "
    >
      <div
        style="
          background-color: white;
          width: 400px;
          padding: 20px;
          border-radius: 10px;
          text-align: center;
        "
      >
      <div
        style="
          background-color: #15c;
          padding: 10px;
          border-radius: 10px 10px 0 0;
          text-align: center;
          color: white;
          font-weight: bold;
          font-size: 20px;
        "
      >
        <a href="{{protocol}}://{{domain}}/">
          <img style="background-color : white; width: 50px;" src="{{protocol}}://{{domain}}/static/assets/logo.png" />
        </a>
      </div>
        <div
          style="
            background-color: white;
            padding: 20px;
            border-radius: 0 0 10px 10px;
            text-align: center;
            border: 1px solid rgba(236, 236, 236, 1);
          "
        >
          <div
            style="
              font-size: 24px;
              color: #333;
              margin-bottom: 10px;
            "
          >
            Hi
            <span>
              {% firstof user.first_name user.email %},
            </span
            >
          </div>
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
