<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title></title>
  </head>
  <body>
    <div
      class="wrapper"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
      "
    >
      <div
        class="card"
        style="
          background-color: white;
          width: 400px;
          padding: 20px;
          border-radius: 10px;
          text-align: center;
        "
      >
        <div
          class="logo"
          style="
            background-color: #15c;
            padding: 10px;
            border-radius: 10px 10px 0 0;
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 20px;
          "
        >
          Logo
        </div>
        <div
          class="content"
          style="
            background-color: white;
            padding: 20px;
            border-radius: 0 0 10px 10px;
            text-align: center;
            border: 1px solid rgba(236, 236, 236, 1);
          "
        >
          <div
            class="greeting"
            style="
              font-size: 24px;
              color: #333;
              margin-bottom: 10px;
            "
          >
            Hi
            <span
              class="user-name"
            >
              {% firstof user.first_name user.email %},
            </span
            >
          </div>
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
