{% extends 'core/emails/base.html' %}

{% block content %}
    <table style="background-color: #f2f2f2; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); text-align: center; width: 100%;">
        <tr>
            <td>
                <p>
                    We heard you need a password reset. Click the link below and you'll be redirected to a secure site from which you can set a new password.
                </p>
                <a href="{{ protocol }}://{{ domain }}/accounts/reset/{{ uid }}/{{ token }}" style="display: inline-block; margin: 25px 0px 5px 0px; text-decoration: none; color: white !important; padding: 10px; background-color: tomato; text-align: center; border-radius: 5px; font-size: 20px; display: block;">Reset Password</a>
                <p>If you didn't try to reset your password, please ignore this e-mail.</p>
            </td>
        </tr>
    </table>
{% endblock %}
