{% extends 'core/emails/base.html' %}

{%block content%}
    We heard you need a password reset. Click the link below and you'll be redirected to to secure site from which you can set a new password. <br>
    <a href="{{protocol}}://{{domain}}/accounts/reset/{{uid}}/{{token}}/" class="btn" style="margin: 25px 0px 5px 0px; text-decoration: none; color: white !important; padding: 10px; background-color: tomato; text-align: center; align-content: middle; border-radius: 5px; font-size: 20px;">Reset Password</a>
    If you didn't try to reset your password, please ignore this e-mail.
{%endblock%}
