@font-face {
  font-family: "ProximaNova-Regular";
  src: url("@src/assets/fonts/proximaNova-Regular.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Thin";
  src: url("@src/assets/fonts/proximaNova-Thin.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova-Extrabold";
  src: url("@src/assets/fonts/proximaNova-Extrabold.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("@src/assets/fonts/proximaNova-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Black";
  src: url("@src/assets/fonts/proximaNova-Black.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-AltThin";
  src: url("@src/assets/fonts/proximaNova-AltThin.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-AltLight";
  src: url("@src/assets/fonts/proximaNova-AltLight.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-AltBold";
  src: url("@src/assets/fonts/proximaNova-AltBold.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "helvetica";
  src: url("@src/assets/fonts/helvetica-Font/helvetica.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "calibri";
  src: url("@src/assets/fonts/Calibri-Font/Calibri.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
