.ClientCard {
  position: relative;
  .card {
    width: inherit;
    height: 187px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(198, 198, 198, 0.25);
    border-radius: 4px;
    padding: 13px;
    &__Header {
      display: flex;
      justify-content: space-between;
      .ClientName {
        color: #111827;
        font-size: 18px;
        font-weight: 800;
      }
    }
    &__Logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 22px;
      height: 80px;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .dropdown {
    cursor: pointer;
    color: #6b7280;
  }
  .dropdownIcon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.dropdownMenu {
  .MuiPaper-elevation {
    transform: translate(-12px, 10px) !important;
  }
  ul {
    padding: 12px;
    margin-top: 5px;

    li {
      font-weight: 400;
      font-size: 16px;
      color: #111827;
      padding: 4px;
      margin-bottom: 5px;
    }
  }
}
