.TopTableFIlters {
  &__Header {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    height: 47px;
    .InputSection {
      display: flex;
      .Filterbtn {
        border: 1px solid #d4d6db;
        background-color: #fff;
        margin-right: 8px;
        border-radius: 5px;
        padding: 8px 16px 8px 9px;
        color: #696f77;
        box-shadow: unset;
        font-family: "ProximaNova-Regular";
        font-style: normal;
        font-weight: 400;
        .btn-content {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .coloumns-icon {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
      .asset-image {
        height: 8px;
        margin-right: 10px;
      }
      .Search-input {
        background-color: #fff;
        border-radius: 8px;
        height: 100%;
        .MuiOutlinedInput-root {
          height: 100%;
        }
        input {
          padding: 8px 16px 8px 9px;
        }
      }
    }
  }
}
