.dropzone-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
    height: 100%;
   .Uploadoptions {
     z-index: 100;
     display: flex;
     flex-direction: column;
     align-items: center;
     p {
       font-size: 16px;
       color: #000;
     }
   }
  .UploadedImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: inherit;
    &::after {
      content: "";
      color:#fff;
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(255,255,255,0.8);
      opacity:0.5;
    }
    img {
      width: inherit;
      height: inherit;
      object-fit: contain;
      margin: 0;
    }

  }
  img {
    margin-bottom: 12px;
  }
  p {
    font-size: 14px;
  }
  .browse-btn {
    background: rgba(177, 113, 255, 0.8);
    color: black;
    width: 78px;
    height: 24px;
    font-size: 14px;
    text-transform: capitalize;
    &:hover {
      background: rgba(177, 113, 255, 0.9);
    }
  }
  .file-info {
    font-size: 12px;
    margin-top: 8px;
    color: #94989e;
    font-weight: 500;
  }
}
